{% extends 'commerce_site/home_base.html' %}


{% block content %}

<div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Check out</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
            <div class="col-md-5">
              {% if error %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endif %}

            </div>
        </div>
    <div class="row justify-content-center mt-5">
      <!-- class="col-md-5" -->
        <div class="col-md-5">

            <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                  Check out
                </button>
            </form>
            </div>
            <hr>

        </div>
    </div>
{% endblock %}
